.leaflet-container{
    /* ocean color */
    background-color: rgb(81, 203, 224); 
}

.saveButtons{
    display: flex;
    align-items: center;
    margin: 5px;
    margin-top: 100px;
}

.loadButtons{
    display: flex;
    align-items: center;
    margin: 5px;
    margin-top: 50px;
}

.shareButtons{
    display: flex;
    align-items: center;
    margin: 5px;
    margin-top: 50px;  
}